#root {
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cards {
  border: "1px solid #ccc";
  padding: "12px";
  border-radius: "8px";
  min-width: "220px";
  background: "#5e5e5eff"
}